

<header>
    <ul class="navBar">
        <li><a href="/">Info-System</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/Depertment/depertments">Depertments</a></li>

        <li><a href="/Subject/subjects">Subjects</a></li>
        <li><a href="/Student/students">Students</a></li>
        <li><a href="/Teacher/teachers">Contact</a></li>
    </ul>
</header>