
<header id="header">
    <nav class="links" style="--items: 6;">
        <a href="/">Info-System</a> 
        <a href="/">Home</a> 
        <a href="/Depertment/depertments">Depertments</a> 
        <a href="/Subject/subjects">Subjects</a> 
        <a href="/Student/students">Students</a> 
        <a href="/Teacher/teachers">Teachers</a>
        <span class="line"></span>
    </nav>
</header>
