

<header  >
    <ul class="navBar">
        <li><a href="/">Portfalio</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/about/about">About</a></li>
        <li><a href="/projects/projects">Projects</a></li>
        <li><a href="/projects/addproject">Add Projects</a></li>
        <li><a href="/contact/contact">Contact</a></li>
    </ul>
</header>