<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] #Info_System</title>

    <link rel="stylesheet" href="~/css/shared.css"/>

</head>
<body>
    <partial name="_header"/>
   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   <partial name="_footer"/>
    
</body>
</html>
