<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Information System</title>

    <link rel="stylesheet" href="~/css/shared.css">

</head>
<body >
    <partial name="_header"/>
   
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   <partial name="_footer"/>
    
</body>
</html>
