<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Information System</title>

    <link rel="stylesheet" href="~/css/shared.css">

</head>
<body >
    <partial name="_header"/>
   
     <main role="main" >
        @RenderBody()
     </main>

   <partial name="_footer"/>
    
</body>
</html>
