@model University_Information_System.Models.ChangePasswordModel
<link rel="stylesheet" href="~/css/addItems.css" />

 
<div class="container account">
    

        <h4>Change Password</h4>
    @if (ViewBag.success == true){
        <div>
            Password has been updated successfully
        </div>
    }
        <form asp-action="ChangePassword">
        <div asp-validation-summary="ModelOnly" class="errorMessage"></div>
            <div class="form-group">
                <label asp-for="CurrentPassword" class="control-label"></label>
                <input asp-for="CurrentPassword" class="form-control" />
            <span asp-validation-for="CurrentPassword" class="errorMessage"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="errorMessage"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="errorMessage"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
   
</div>

 