@model University_Information_System.Models.Subject


<link rel="stylesheet" href="~/css/addItems.css" />

@{
<div class="container">
    <h3 style="text-align:center">Add new Subject</h3>
    <form asp-controller = "Subject" asp-action="AddSubject">
            <input type="hidden" asp-for="CreatedBy" value="@ViewData["createdBy"]">

        <label for="fname">Subject Name</label>
        <input type="text" id="fname" asp-for="SubjectName" 
        placeholder="subject name..">
            <span class="errorMessage" asp-validation-for="SubjectName"></span>
        <label for="subject">Descryption</label>
            <textarea id="subject" asp-for="Descryption"
            placeholder="Write something.." style="height:200px"></textarea>
            <span class="errorMessage" asp-validation-for="Descryption"></span>
            <input type="submit" value="Submit">
    </form>
</div>
             
}