@model Subject
<link rel="stylesheet" href="~/css/contact.css" />

@{
<div class="container">
        <a asp-action="Subjects">Go Back </a>
    <h3 style="text-align:center">Edit Project</h3>
    <form asp-controller = "Subject" asp-action="UpdateSubject">
            <input type="hidden" asp-for="CreatedBy" value="@ViewData["createdBy"]">
            <input type="hidden" asp-for="CreatedDate" value="@ViewData["createdDate"]">
        <label for="fname">Dept Name</label>
        <input type="text" id="fname" asp-for="SubjectName" placeholder="Your name..">
            <span class="errorMessage" asp-validation-for="SubjectName"></span>
        
        <label for="subject">Details</label>
        <textarea id="subject" asp-for="Descryption" placeholder="Write something.." style="height:200px"></textarea>
            <span class="errorMessage" asp-validation-for="Descryption"></span>
            <input type="submit" value="Update">
    </form>
</div>
             
}