@model ApplicationUser


<link rel="stylesheet" href="~/css/profile.css" />

@{

    <div class="container">
        <div class="left">
            <img src="~/images/user/@(Model.PicturePath)" />

        </div>

        <div class="right" >
            <a asp-action="UpdateProfile" asp-controler="User" 
           asp-route-userId=@Model.Id>Edit Profile</a>
           <br>
            <h3 >Name : @(Model.FirstName) @(Model.LastName)</h3>
            <p>Email : @(Model.Email)</p>
        </div>       
              
               
    </div>
  

}