@model University_Information_System.Models.Teacher


<link rel="stylesheet" href="~/css/addItems.css" />

@{
<div class="container">
    <h3 style="text-align:center">Add new Teacher</h3>
    <form asp-controller = "Teacher" asp-action="AddTeacher">
        <label for="fname">First Name</label>
        <input type="text" id="fname" asp-for="FirstName" placeholder="first name..">
            <span class="errorMessage" asp-validation-for="FirstName"></span>
        <label for="lname">Last Name</label>
        <input type="text" id="fname" asp-for="LastName" placeholder="first name..">
            <span class="errorMessage" asp-validation-for="LastName"></span>
        <label for="subject">Descryption</label>
            <textarea id="subject" asp-for="Descryption" placeholder="Write something.." style="height:200px"></textarea>
            <span class="errorMessage" asp-validation-for="Descryption"></span>

            <input type="submit" value="Submit">
    </form>
</div>
             
}