@model ApplicationUser

<link rel="stylesheet" href="~/css/projects.css"/>
<link rel="stylesheet" href="~/css/contact.css" />

@{
    <div class="container">
            <h3 style="text-align:center">Delete Teacher: </h3>
            <form asp-controller = "Teacher" asp-action="DeleteTeacher">
                <label for="fname">First Name</label>
                <input type="text" id="fname" disabled asp-for="FirstName" placeholder="first name..">
            <label for="fname">Last Name</label>
            <input type="text" id="lname" disabled asp-for="LastName" placeholder="last name..">
            <label for="fname">Email</label>
            <input type="text" id="fname" disabled asp-for="Email" placeholder="email..">
                
                    <input type="submit" style="background-color:red; color:white;" value="Confirm Delete">
            </form>
    </div>
             
}