@model Notice


<link rel="stylesheet" href="~/css/details.css" />

@{
    <div class="container">
        <a asp-action="Index">Go Back </a>


        <div>
            <h3 style="text-align:center">Notice : @(Model.NoticeTitle)</h3>
            <p style="text-align:center;">
                <small>Create At : @(Model.CreatedDate)</small>
                <small>Author : <b>@(Model.Author)</b></small>
            </p>
            <p style="text-align:center;">Details: @(Model.Descryption)</p>


        </div>
</div> 

        }