
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="css/index.css"/>


<h3 class="headline" style="text-align:center; height:50px;background-color:azure;padding-top:10px;">Home:</h3>
<div class="indexDiv">
    
    wellcome to home
</div>
