@model Notice
<link rel="stylesheet" href="~/css/contact.css" />

@{
<div class="container">
    <h3 style="text-align:center">Edit Notice</h3>
        <form asp-controller="Home" asp-action="UpdateNotice">

            <label for="fname">Title</label>
            <input type="text" id="fname" asp-for="NoticeTitle">
            <span class="errorMessage" asp-validation-for="NoticeTitle"></span>


            <label for="lname">Descryption</label>
            <input type="text" id="fname" asp-for="Descryption">
            <span class="errorMessage" asp-validation-for="Descryption"></span>

            <input type="submit" value="Update">
    </form>
</div>
             
}