

.detailsUl {
    margin: 10px;
    padding: 10px;
    text-align: center;

}

.active{
    background-color:red;
}


.container {
    background-color:#f5f8f8;;
    border-radius: 5px;
    padding: 40px;
    margin-top: 80px;
    margin-left: 15%;
    margin-right: 15%;
}


@media (max-width: 700px) {
    .container {
        margin-top: 120px;
        padding: 10px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .left {
        width: 30%;
    }

    .right {
        width: 70%;
        text-align:right;
    }

    .img {
        width: 100%;
    }

}

.grid-containerList {
    cursor: pointer;
    position: relative;
    display: grid;
    grid-template-columns: 7fr 1fr;
    margin-bottom: 2px;
    margin-top: 3px;
    text-align: center;
    padding: 3px;
    background-color: #ebf4fb;
    height: 45px;
}

        .grid-containerList > a {
            font-size: 24px;
            color: black;
        }

    .removeBtn {
        text-decoration: underline;
        background: none;
        color: red;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }

.detailsMenu {
    list-style-type: none;
    margin: 20px;
    padding: 0;
    overflow: hidden;
    text-align: center;
    align-content: center;
    width: 95%;
}


    .detailsMenu > li {
        background-color: #ebf4fb;
        width: 33.3%;
        float: left;
    }


.detailsMenu > li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

    .detailsMenu > li a:hover {
        background-color: #111;
    }

.userinfo {
    width: 100%;
    display:flex;
    padding-top:10px;
}

.left {
    float: left;
    width: 35%;
    text-align:center;
}

.right {
    float:left;
    width: 65%;
}

.img {
    height: 180px;
    width: 200px;
    border-radius: 5px;
}
