.indexDiv {
    height: auto;
    width: 100%;
    padding: 5px;
    margin: 0px;
    display:flex;
}



.imageHome{
    border-radius:10px;
    height:80%;
    width:100%;
    margin:5px;
    padding:5px;
}

.cards {
    max-width: 1200px;
    margin: 0 0px;
    display: grid;
    gap: 5px;
}

@media (min-width: 600px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
     
}

@media (min-width: 900px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
     
}

.card {
    background-color: aliceblue;
    margin: 2px;
    border: 1px solid rgb(241, 242, 240 );
    box-shadow: 2px;
    width: 220px;
    height: 120px;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
}


.projectTitle {
    padding:0px;
    height: 30px;
    font-size: 18px;
}
