﻿
<link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet" >

body {
    min-height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #BCC6CC;
}


body {
    margin: 0;
    font-family: 'tahoma'
}



.menu_bar {
    list-style-type: none;
    margin: 0;
    padding-left: 16%;
    background-color: #404d61;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom:20px !important;
}

@media (max-width: 600px) {
    .menu_bar {
        padding-left: 5%;
    }
   
    }

.menu_bar>li {
    float: left;
}

    .menu_bar> li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
.menu_bar>li a:hover {
    background-color: #111;
}

.menu_bar> ul li:hover ul {
    display: block;
}

.dropdown{
    display:inline;
    position:relative;
}

.dropdown-content {
    position: absolute;
    top: 40px;
    display: none;
    list-style-type: none;
    background-color: #404d61;
    text-align:left;
    right:0px;
    min-width:100px;
}

    .dropdown-content li{
        display:block;
    }


    .dropdown:hover .dropdown-content {
        display: block;
    }



.footer {
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #404d61;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

    .footer > p {
        color: white;
    }
}

@media (max-width: 700px) {
    .mainDiv {
        padding-top: 100px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .paginationDiv .gridRow {
        padding-left: 1%;
        padding-right: 1%;
        margin-bottom: 20px;
    }
}

.grid-container {
    display: grid;
    text-align: center;
}


.info {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.containerDiv {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.paginationDiv {
    bottom: 60px;
    margin-top: 60px;
    padding-bottom: 40px;
    text-align: center;
    width: 100%;
    text-align: center;
    border: 1px solid none;
    box-shadow: 2px;
}

    .paginationDiv .gridRow {
        margin: 10px;
        padding-bottom: 20px;
        padding-left: 10%;
        padding-right: 10%;
        text-align: left;
        display: grid;
        grid-template-columns: 2fr 3fr;
    }

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");


.searchBar {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 40%;
    border: 1px solid #98AFC7;
    border-radius: 5px;
}

.btn {
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    margin: 3px;
}
.search-item {
    display: flex;
}

.disabled {
    pointer-events: none;
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

.selected {
    background-color: green; /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

.selectItem {
    background-color: #f9fcfb;
    height: 40px;
    font-size: 20px;
    text-align: left;
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid black;
}

