﻿body {
    min-height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #BCC6CC;
}


.menu_bar {
    list-style-type: none;
    margin: 0;
    padding-left: 16%;
    overflow: hidden;
    background-color: #404d61;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom:20px !important;
}

@media (max-width: 600px) {
    .menu_bar {
        padding-left: 5%;
    }
    }

.menu_bar>li {
    float: left;
}

    .menu_bar> li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
.menu_bar>li a:hover {
    background-color: #111;
}





.footer {
    left:0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #404d61;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align:center;
}

    .footer > p {
        color: white;
    }
}



