@model List<Subject>

<link rel="stylesheet" href="~/css/projects.css"/>
<link rel="stylesheet" href="~/css/contact.css" />

@{
    <div class="container">
            <h3 style="text-align:center">Add Subject </h3>
            <form asp-controller="Depertment" adp-rout-id=@(TempData["departmentId"]) 
            asp-action="AddSubjectToTheDepertment">
            <label for="subjectId"> Subjects</label>
            <select name="subjectId">
            @{
            if(Model.Count==0){
                        <option value="">None</option>
            }
            }

            @foreach (var subject in Model){
                   <option value=@(subject.id)>@(subject.SubjectName)</option>
           }
            </select>
            @{
            if(Model.Count==0){
                <input type="submit" disabled value="Submit">
            }
            else{
                    <input type="submit" value="Submit">

            }
           }
            </form>
    </div>
             
}