@model University_Information_System.Models.ApplicationUser


<link rel="stylesheet" href="~/css/addItems.css" />

@{
    <div class="container">
            <h3 style="text-align:center">Add new Student</h3>
            <form asp-controller = "Student" asp-action="AddStudent">
                <label for="fname">First Name</label>
                <input type="text" id="fname" asp-for="FirstName" placeholder="first name..">
            <span class="errorMessage" asp-validation-for="FirstName"></span>

                <label for="fname">Last Name</label>
                <input type="text" id="fname" asp-for="LastName" placeholder="last name..">
            <span class="errorMessage" asp-validation-for="LastName"></span>

         

            <input type="submit" value="Submit">
            </form>
    </div>
             
} 