@model Student
<link rel="stylesheet" href="~/css/contact.css" />

@{
<div class="container">
        <a asp-action="Students">Go Back </a>
    <h3 style="text-align:center">Edit Student Details</h3>
    <form asp-controller = "Student" asp-action="UpdateStudent">
        <label for="fname">First Name</label>
        <input type="text" id="fname" asp-for="FirstName">
            <span class="errorMessage" asp-validation-for="FirstName"></span>

        <label for="lname">Last Name</label>
        <input type="text" id="fname" asp-for="LastName">
            <span class="errorMessage" asp-validation-for="LastName"></span>

        <label for="lname">Registration No</label>
        <input type="text" id="fname" asp-for="Reg">
            <span class="errorMessage" asp-validation-for="Reg"></span>

            <input type="submit" value="Update">
    </form>
</div>
             
}